.login {
  height: 100vh;
  margin-top: 25px;
  background-image: url('./back.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: inherit;
}

.login .paperStyle {
  width: 350px;
  height: 70vh;
  position: absolute;
  top: 20%;
  right: 10%;
  border-radius: 10px;
}

.login .paperStyle .grid .avatarLock {
  background-color: #4e78cb;
}

.login .paperStyle .grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.login .paperStyle .grid h1, h2 {
    color: rgba(0, 0, 0, 0.6);
  }

.login .paperStyle .form {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
}

.login .paperStyle .typography {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}
